<div class="row">
    <div class="col-xl">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Plans</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>


                <div class="row">

                    <div class="col-md-4">

                        <div class="card text-center">
                            <div class="card-header">
                                <h5 class="card-title text-center mb-0">Silver Plan</h5>
                            </div>
                            <div class="card-body">

                                <p class="card-text">Every Day Backup</p>
                                <a href="#" class=""> <span class="align-position">Add
                                        feature</span> <i class="material-icons-outlined">add</i></a>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">

                        <div class="card text-center">
                            <div class="card-header">

                                <h5 class="card-title text-center mb-0">Basic Plan</h5>


                            </div>
                            <div class="card-body">

                                <p class="card-text">Max 100 Products</p>
                                <a href="#" class=""> <span class="align-position">Add
                                        feature</span> <i class="material-icons-outlined">add</i></a>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">

                        <div class="card text-center">
                            <div class="card-header">

                                <h5 class="card-title text-center mb-0">Basic</h5>


                            </div>
                            <div class="card-body">

                                <p class="card-text">Max 100 Products</p>
                                <a href="#" class=""> <span class="align-position">Add
                                        feature</span> <i class="material-icons-outlined">add</i></a>
                            </div>
                        </div>

                    </div>


                </div>




            </div>
        </div>
    </div>
</div>