<app-add-feature></app-add-feature>
<div class="row">

    <div class="col-md-4">

        <div class="card text-center">

            <div class="card-body">
                <h5 class="card-title">Features1</h5>
                <p class="card-text">Every Day Backup</p>
                <a href="#" class="btn btn-secondary">Edit</a>
                <a href="#" class="text-danger"
                    style="position: absolute;top: 4px;right: 11px;">Delete</a>
            </div>
        </div>

    </div>
    <div class="col-md-4">

        <div class="card text-center">

            <div class="card-body">
                <h5 class="card-title">Features1</h5>
                <p class="card-text">Every Day Backup</p>
                <a href="#" class="btn btn-secondary">Edit</a>
                <a href="#" class="text-danger"
                    style="position: absolute;top: 4px;right: 11px;">Delete</a>
            </div>
        </div>

    </div>
    <div class="col-md-4">

        <div class="card text-center">

            <div class="card-body">
                <h5 class="card-title">Features1</h5>
                <p class="card-text">Every Day Backup</p>
                <a href="#" class="btn btn-secondary">Edit</a>
                <a href="#" class="text-danger"
                    style="position: absolute;top: 4px;right: 11px;">Delete</a>
            </div>
        </div>

    </div>


</div>