<div class="row">
    <div class="col-xl">
        <div class="card text-center">
            <div class="card-header"><i class="fa fa-envelope"></i>
                Contact Us
            </div>
            <div class="card-body">
                <h5 class="card-title">KEEP IN TOUCH WITH US</h5>
                <form>
                    <div class="form-group">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-user text-primary"></i></div>
                            </div>
                            <input type="text" class="form-control" id="nombre" name="nombre"
                                placeholder="Enter your name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-envelope text-primary"></i></div>
                            </div>
                            <input type="email" class="form-control" id="nombre" name="email"
                                placeholder="Enter your email" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-comment text-primary"></i></div>
                            </div>
                            <textarea class="form-control" placeholder="Enter your message" required></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary float-right">Send </button>
                    <!-- <a href="https://wa.me/8089007012?text=heloo"><img class="whatsapp-icon float-right m-3"
                            src="../../../../../assets/images/WhatsApp_Logo.png"></a> -->

                </form>
            </div>
            <div class="card-footer text-primary">
                <p class="h1">
                    <a href="mailto:aeons.studycircle@gmail.com" target="_blank"><i class="fa fa-envelope-square mr-1"></i></a>
                    <!-- <i class="fa fa-twitter-square mr-1"></i> -->
                    <a href="https://www.facebook.com/groups/468356637372037/about/" target="_blank"><i class="fa fa-facebook-square mr-1"></i></a>
                    <a href="https://www.youtube.com/channel/UCx7c7bn9ceH0aLW5sIDyIrA" target="_blank"><i class="fa fa-youtube-square mr-1"></i></a>
                    <a href="https://wa.me/+919846024053?text=hi"> <i class="fa fa-whatsapp mr-1"></i></a>
                </p>
            </div>
        </div>
    </div>
</div>