<div class="card mb-3 bg-light">
    <img src="https://drive.google.com/uc?id=123SHZU1igrmaB_qU_fBSWjiVrP-btCEo" class="card-img-top" alt="Author">
    <div class="card-body">
        <h5 class="card-title">About Author</h5>
        <p class="card-text">He is in the middle of thinking about how he can change the look and feel of his oppourtunity to make it look more attractive and look more like it was created by a teacher. Knowing what to ignore the art of knowing.</p>
        <p class="card-text"><small class="text-muted"><span class="text-primary">Jayakuttan S</span> ,Idukki, Kerala, India</small></p>
    </div>
</div>
<div class="">
    <h4 class="card-title">Archives</h4>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            January 2020
            <span class="badge badge-primary badge-pill">14</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            February 2020
            <span class="badge badge-primary badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            March 2020
            <span class="badge badge-primary badge-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            April 2020
            <span class="badge badge-primary badge-pill">10</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            May 2020
            <span class="badge badge-primary badge-pill">5</span>
        </li>
    </ul>
</div>
<div class="p-3">
    <h4 class="card-title">Elsewhere</h4>
    <nav aria-label="...">
        <ul class="pagination pagination-lg">
            <li class="page-item"><a class="fa fa-youtube" href="#"></a></li>
            <li class="page-item"><a class="fa fa-facebook" href="#"></a></li> 
            <li class="page-item"><a class="fa fa-twitter" href="#"></a></li> 
            <li class="page-item"><a class="fa fa-instagram" href="#"></a></li>
            <li class="page-item"><a class="fa fa-google" href="#"></a></li>
        </ul>
    </nav>
</div>
<div class="p-3">
    <h4 class="card-title">Tags</h4>
    <a href="#" class="badge badge-primary m-1">Exams</a>
    <a href="#" class="badge badge-primary m-1">Study</a>
    <a href="#" class="badge badge-primary m-1">Tech</a>
    <a href="#" class="badge badge-primary m-1">Learning</a>
    <a href="#" class="badge badge-primary m-1">Data</a>
    <a href="#" class="badge badge-primary m-1">Blog</a>
</div>