
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Posts List</h5>
                <p>You can delete posts here.</p>

                <table class="table">
                    <caption>List of posts</caption>
                    <thead>
                        <tr>
                            <th scope="col">
                                <div class="custom-control custom-checkbox form-group">
                                    <!-- <input type="checkbox" class="custom-control-input" id="mail1" [(ngModel)]="selectedAllChkBox" (change)="selectAllVendors();"> -->
                                    <label class="custom-control-label" for="mail1"></label>
                                </div>
                            </th>
                            <th scope="col">Header Image</th>
                            <th scope="col">Title</th>

                            <th scope="col">Date</th>

                            <!-- <th scope="col">Color</th> -->
                            <th scope="col">ID</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let post of postsArray">
                            <td>
                                <div class="custom-control custom-checkbox form-group">
                                    <input type="checkbox" class="custom-control-input" id="{{post.id}}" [(ngModel)]="post.selected">
                                    <label class="custom-control-label" for="{{post.id}}"></label>
                                </div>
                            </td>
                            <th scope="row"><img src="{{post.imageUrl}}" width="100"></th>

                            <td>{{post.title}} <br>
                                <!-- {{post.subTitle}}<br> -->
                                <!-- {{post.description}}<br> -->
                                <!-- {{post.createdDate}} -->
                            </td>

                            <td>{{post.createdDate.seconds * 1000 | date:'full'}}</td>

                            <!-- <td><div class="p-3 mb-2 text-white"></div></td> -->
                            <td>{{post.id}}</td>
                            <td><span class="text-primary">Active</span></td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        Action
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <!-- <a class="dropdown-item" (click)="deactivateVendor(vendor)">Activate/De-activate</a> -->
                                        <a class="dropdown-item"(click)="deletePost(post)">Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>