<!-- Page Content -->
<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3">A Warm Welcome!</h1>
    <p class="lead">The Aeon’s Study Circle was founded in June 2017.

      The Aeon’s Study Circle is meant to advance the career prospects of young people who have the potential for high
      –ranking Civil Service & Government Services placement but can’t afford the expensive coaching available only in
      big Cities. As it is, quite a lot of our young people who are talented and would compete with skill and tenacity
      are handicapped by being unable to get access to quality coaching and up-to-date study materials. Some candidate
      opts out of the race for want of proper motivation or through the mistaken notion that for a person with non-urban
      background Civil Service placement is an impossible dream. The Aeon’s Study Circle group expects to bring Civil
      Service, Kerala Administrative Service, State Psc exams, SET& NET training within easy reach of the candidates and
      it hopes to fulfill this mission by providing top quality training at the free of cost.This study group will be
      online only.It can be found on all social media.
    </p>
    <a href="#" class="btn btn-primary btn-lg">Read More</a>
  </header>

  <!-- Page Features -->
  <div class="row text-center">

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="https://drive.google.com/uc?id=1ULsTFmCGBvMGAQbtQyGlnUS5Lmrnsx59" alt="">
        <div class="card-body">
          <h4 class="card-title">Aim</h4>
          <p class="card-text">“You can’t cross the sea merely by standing and staring at the water.”</p>
          <blockquote class="blockquote mb-0">
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p> -->
            <footer class="blockquote-footer">Rabindranath Tagore <cite title="Source Title"></cite></footer>
          </blockquote>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="https://drive.google.com/uc?id=1mHBz-7B2gW-wf-p2vpqxK6MJTgivEvuy" alt="">
        <div class="card-body">
          <h4 class="card-title">Attitude</h4>
          <p class="card-text">There are only two mistakes one can make along the road to truth; not going all the way,
            and not starting.”</p>
            <blockquote class="blockquote mb-0">
              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p> -->
              <footer class="blockquote-footer">Buddha <cite title="Source Title"></cite></footer>
            </blockquote>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="https://drive.google.com/uc?id=1iEiLfl3DEsR_nKh9RbJa1hVZsuW4SLcd" alt="">
        <div class="card-body">
          <h4 class="card-title">Determination</h4>
          <p class="card-text">“Optimism is the faith that leads to achievement. Nothing can be done without hope and
            confidence.” </p>
            <blockquote class="blockquote mb-0">
              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p> -->
              <footer class="blockquote-footer">Helen Keller <cite title="Source Title"></cite></footer>
            </blockquote>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="https://drive.google.com/uc?id=1jxfC5HAiW4OUhhpJG8c_rkPnDxAf7a-z" alt="">
        <div class="card-body">
          <h4 class="card-title">Hardwork</h4>
          <p class="card-text">“You have to dreambefore your dreams can come true”</p>
            <blockquote class="blockquote mb-0">
              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p> -->
              <footer class="blockquote-footer">Dr.A.P. J Abdul Kalam <cite title="Source Title"></cite></footer>
            </blockquote>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>

  </div>
  <!-- /.row -->

  <!-- Call to Action Well -->
  <div class="card text-white bg-primary my-5 py-4 text-center">
    <div class="card-body">
      <blockquote class="blockquote">
        <p class="mb-0"> "നിങ്ങൾ സൂര്യനെപ്പോലെ തിളങ്ങണമെങ്കിൽ ആദ്യം സൂര്യനെപ്പോലെ എരിയണം”</p>
      </blockquote>
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Vision</h2>
          <p class="card-text">To give hope and opportunity to aspirants from various socio-economic backgrounds to
            realize their dream of becoming civil servants & Goverments Servents.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary btn-sm">More Info</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Our Motto</h2>
          <p class="card-text">“SUCCESS ON YOUR FINGER TIP” </p>
          <blockquote class="blockquote">
            <p class="mb-0"> "നിങ്ങൾ സൂര്യനെപ്പോലെ തിളങ്ങണമെങ്കിൽ ആദ്യം സൂര്യനെപ്പോലെ എരിയണം”</p>
          </blockquote>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary btn-sm">More Info</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Mission</h2>
          <p class="card-text">To create an environment where the students have access to all that is required to prepare for the civil services examination & Competative exam effectively, efficiently and enthusiastically by ensuring them with excellent coaching and finest study materials.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary btn-sm">More Info</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->

  </div>
  <!-- /.row -->

</div>