<div class="page-sidebar">
            <div class="logo-box"><a href="#" class="logo-text">Admin</a><a href="#" id="sidebar-close"><i
                        class="material-icons">close</i></a> <a href="#" id="sidebar-state"><i
                        class="material-icons">adjust</i><i
                        class="material-icons compact-sidebar-icon">panorama_fish_eye</i></a></div>
            <div class="page-sidebar-inner slimscroll">
                <ul class="accordion-menu">
                    <li class="sidebar-title">
                        Apps
                    </li>
                    <li routerLinkActive="active-page">
                        <a routerLink="/dashboard/blog" routerLinkActive="actives"><i
                                class="material-icons-outlined">dashboard</i>Dashboard</a>
                    </li>
                    <li routerLinkActive="active-page">
                        <a routerLink="/dashboard/features" routerLinkActive="active"><i class="material-icons-outlined">done</i>Features</a>
                    </li>
                    <li routerLinkActive="active-page">
                        <a routerLink="/dashboard/plan" routerLinkActive="active"><i class="material-icons-outlined">done</i>Plan</a>
                    </li>
                </ul>
            </div>
        </div>